---
interface Props {
	title: string;
	description: string;
}

const {title, description } = Astro.props;
---

<div class="text-center self-center">
    <h4 class="text-2xl mb-4">{title}</h4>
    <span class="block text-base leading-normal mx-5 my-0">
      {description}
      </span>
  </div>