---
import Mision from "./Mision.astro";
import PokerChip from "../components/PokerChip"
---

<section
id="Nosotros"
  class="justify-items-center px-8 py-8"
>
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3"
    >
        <Mision
            title="MISION"
            description="HOLD´EM se erige como una agencia de marketing comprometida con la excelencia profesional; ofrecemos soluciones, brindamos estrategias digitales de vanguardia para el posicionamiento de la marca en el panorama comercial y generamos oportunidades de negocio."
        />
        <div class="h-72">
            <PokerChip client:load />
        </div>
        <Mision
        title="VISION"
        description="Consolidarnos como un centro que ofrece soluciones integrales y estratégicas, brindando siempre un servicio excepcional."
        />

    </div>
</section>
