---

---

<section class="flex flex-col items-center px-0 py-8">
  <h2 class="text-[2rem] mb-8">SERVICIOS</h2>
  <div class="flex flex-col items-center gap-8">
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold">♠ DISEÑO WEB</h3>
      <img class="mx-auto" src="DiseñoWeb.jpg" alt="Diseño Web" />
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <img class="mx-auto" src="SEO.jpg" alt="Posicionamiento Web" />
      <h3 class="text-center text-2xl font-semibold">♠ POSICIONAMIENTO WEB</h3>
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold">♠ MARKETING DIGITAL</h3>
      <img
        class="mx-auto"
        src="MarketingDigital.jpeg"
        alt="Marketing Digital"
      />
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <img class="mx-auto" src="Branding.jpeg" alt="Branding" />
      <h3 class="text-center text-2xl font-semibold">♠ BRANDING</h3>
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold">♠ WEB BÁSICA</h3>
      <img class="mx-auto" src="DesarrolloWeb.png" alt="Web Básica" />
    </div>
  </div>
</section>
