---

---

<section id="Servicios" class="flex flex-col items-center px-0 py-8 bg-[url('/fondo.jpg')] bg-cover bg-center">
  <h2 class="text-[2rem] mb-8 font-title">SERVICIOS</h2>
  <div class="flex flex-col items-center gap-8">
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold font-subtitle">♠ DISEÑO WEB</h3>
      <img class="mx-auto" src="imagen 6.png" alt="Diseño Web" />
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <img class="mx-auto" src="imagen 5.png" alt="Posicionamiento Web" />
      <h3 class="text-center text-2xl font-semibold  font-subtitle">♠ POSICIONAMIENTO WEB</h3>
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold  font-subtitle">♠ MARKETING DIGITAL</h3>
      <img
        class="mx-auto"
        src="imagen 4.webp"
        alt="Marketing Digital"
      />
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <img class="mx-auto" src="Branding.jpeg" alt="Branding" />
      <h3 class="text-center text-2xl font-semibold  font-subtitle">♠ BRANDING</h3>
    </div>
    <div class="grid grid-cols-2 items-center w-3/4 max-w-2xl">
      <h3 class="text-center text-2xl font-semibold  font-subtitle">♠ WEB BÁSICA</h3>
      <img class="mx-auto" src="imagen 3.png" alt="Web Básica" />
    </div>
  </div>
</section>
