---
import Card from "./Card.astro"
---

<!-- Seccion del equipo -->
<section class="justify-items-center px-0 py-8 bg-[url('/fondo.jpg')] bg-cover bg-center">
    <h2 class="text-[2rem] mb-8 font-title">EQUIPO</h2>
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:gap-24">
      <Card image="/fichaPoker.webp" nombre="Richard" ocupacion="Dirección creativa RS" />
      <Card image="/fichaPoker.webp" nombre="Eder" ocupacion="Marketing Digital RS" />
      <Card image="/fichaPoker.webp" nombre="Jair" ocupacion="Desarrollo web RS" />
    </div>
</section>